<p class="UserRegistration-Title">Welcome New User!</p>


<section class="UserRegistration-section">

	<%= form_with url: users_path  do |form| %>
		
			<div class="Form-Section">
				<p class="UserRegistration-fieldtitle">First Name</p>
				<%= form.text_field :first_name , class: "Form-input" %>
			</div>

			<div class="Form-Section">
				<p class="UserRegistration-fieldtitle">Last Name</p>
				<%= form.text_field :last_name , class: "Form-input" %>
			</div>

			<div class="Form-Section">
				<p class="UserRegistration-fieldtitle">Email</p>
				<%= form.email_field :email , class: "Form-input" %>
			</div>

			<div class="Form-Section">
				<p class="UserRegistration-fieldtitle">Password</p>
				<%= form.password_field :password , class: "Form-input" %>
			</div>

			<div class="Form-Section">
				<%= form.submit "Sign-up!" , class: "Form-SubmitButton" %>
			</div>
		

	<% end %>

</section>