<article>
	<section class= "TodoSection">
		<div class= "TodoSectionTitle">
			<p class= "TodoSectionTitle-text"><%= section_title %></p>
			<p class= "TodoSectionTitle-remainingcount">
				<%= todos.completed.count %> / <%= todos.count %>
			</p>

		</div>
		<% todos.all.each do |todo| %>
			<ul style="list-style: none;">
				<li class="TodoItem">
					<label class="TodoItem-container">
						<% if section_title == "OverDue" %>
						<%= form_with(url: "/todos/#{todo.id}", method: "put") do%>
							<input 
						
								name="completed" 
								class="TodoItem-checkbox" 
								type="checkbox" <%= todo.completed ? "checked" : "" %> 
								onclick="this.form.submit()"														

							/>
						<% end %>
						<p class= "TodoItem-task" ><%= todo.todo_text %></p>
						<% if show_due_date %>
						<p class= "TodoItem-task"><%= todo.due_date.to_formatted_s(:short) %></p>
						<%= form_with(url: "/todos/#{todo.id}", method: "delete") do%>
							<input class= "Todo-BinIcon" href= "javascript:void(0)" type="image">
						<% end %>
						<% end %>
						<% elsif section_title != "OverDue" %>
						<%= form_with(url: "/todos/#{todo.id}", method: "put") do%>
							<input 
						
								name="completed" 
								class="TodoItem-checkbox" 
								type="checkbox" <%= todo.completed ? "checked" : "" %> 
								onclick="this.form.submit()"														

							/>
							<!-- this.form.submit() is JS line of code -->
						<% end %>
						<p class= '<%= todo.completed ? "TodoItem-CompletedText" : "TodoItem-task" %>'><%= todo.todo_text %></p>
						<% if show_due_date %>
						<p class= "TodoItem-duedate"><%= todo.due_date.to_formatted_s(:short) %></p>
						<% end %>
						<%= form_with(url: "/todos/#{todo.id}", method: "delete") do%>
							
							<input type="image" src="icons/trash-solid.svg" style="margin-left: 10px;" >
							
						<% end %>
						<% end %>
						

					</label>
				</li>
			</ul>
		<% end %>

	</section>
</article>